@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  font-family: "Inter", Arial;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('teddybackground.jpg');
  background-size: cover;
  background-position: bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 0.75px;
  color: rgb(255, 255, 255);
}

.wrapper {
  height: 95vh;
}

.chat {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  box-shadow: 0px 6px 15px rgb(57, 55, 61);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 1px 0px;
  border-radius: 15px;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 20px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(14, 138, 240);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: linear-gradient(hsla(0, 88%, 47%, 1) 0%, hsla(0, 91%, 43%, 1) 100%);
  color: white;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: white;
  color:  rgb(20, 20, 20);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 20px 0px 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.);
  backdrop-filter: blur(8px);
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid  rgb(14, 138, 240);
}

@media all and (min-width: 720px) {
  .wrapper {
    margin-left: 50%;
    margin-right: 40px;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    margin-left: 60%;
    margin-right: 40px;
  }
  .title {
    height: 7.5vh;
  }
}
